@header = {
    <div id="header">
        <h2>Gavin Costello - Curriculum Vitae</h2>
    </div>
}

@content = {
    <a href="@routes.Assets.versioned("Gavin_Costello_CV.pdf")">Download as PDF</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="@routes.Assets.versioned("Gavin_Costello_CV_fr.pdf")">Télécharger en format PDF</a>

      <table width="100%">
        <td width="100%" valign="top">
            <table cellspacing="0" cellpadding="3" border="0" bgcolor="#FFFFFF" width="100%" cols="6">
              <tr>
                <td colspan="5" style="font-weight:bold">Experienced Technical Architect seeking a challenging
                architect role using the latest technologies.</td>
                <td colspan="1" align="right"><img src="@routes.Assets.versioned("images/me.jpg")" width="60px" height="80px"></td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="6" style="font-size:13pt"><b><u>Key Skills</u></b></td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="1">Java (Server-Side):</td>
                <td colspan="5">J2EE, EJB, JPA, JMS, JDBC, JNDI, RMI, JUnit</td>
              </tr>
              <tr>
                <td colspan="1">Web technologies:</td>
                <td colspan="5">JSPs, Servlets, JSF, Struts, SOAP, Apache Axis, HTML, Javascript, CSS</td> 
              </tr>
              <tr>
                <td colspan="1">XML:</td>
                <td colspan="5">SAX, DOM, XSL(T), XSL/FO</td>
              </tr>
              <tr>
                <td colspan="1">Application Servers:</td>
                <td colspan="5">BEA Weblogic, IBM WebSphere, SunOne Application Server, JBoss, Netscape Application Server</td>
              </tr>
              <tr>
                <td colspan="1">Databases:</td>
                <td colspan="5">Oracle 8i, DB/2, PostgreSQL, MS SQL Server, MS Access, SQL</td>
              </tr>
              <tr>
                <td colspan="1">Operating Systems:</td>
                <td colspan="5">Linux, Unix (Solaris, HP-UX, AIX), Windows (NT/2000/XP)</td>
              </tr>
              <tr>
                <td colspan="1">IDEs:</td>
                <td colspan="5">JBuilder, IBM RAD, Eclipse, IntelliJ IDEA</td>
              </tr>
              <tr>
                <td colspan="1">Middleware:</td>
                <td colspan="5">Vitria BusinessWare, BEA Tuxedo</td>
              </tr>
              <tr>
                <td colspan="1">Methodologies:</td>
                <td colspan="5">UML, Design Patterns, OO, RAD, Spring Framework</td>
              </tr>
              <tr>
                <td colspan="1">Other:</td>
                <td colspan="5">C, C++, Python, Django (web development framework), Perl, PHP, Ant, Shell Scripting</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="6" style="font-size:13pt"><b><u>Work Experience</u></b></td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>Dec. 2006 - Nov. 2011</b></td>
                <td colspan="2"><a href="http://www.generali.ch">Generali Assurances</a></td>
                <td colspan="3"><b>Position : Senior Consultant</b></td>
              </tr>

              <tr>
                <td colspan="6">
                    <ul>
                        <li>Development and maintenance of a large, multi-tiered insurance application to manage Generali Partners</li>
                        <i>(UML, Java, EJB, JPA, Spring, JSPs, JSTL, Oracle, PL/SQL</i>
                        <li>Development and maintenance of a large, multi-tiered insurance application to manage customer portfolios</li>
                        <i>(Java, EJB, JPS, Spring, JSF, Oracle, PL/SQL</i>
                        <li>Design and development of a bespoke application to access historical data of a legacy (BULL) system</li>
                        <i>(Java, EJB, JPS, Spring, JSF, Oracle, PL/SQL</i>
                        <li>Design and development of a batch job to identify or create Partners to be migrated from a legacy (BULL) system</li>
                        <li>Migration of all Javascript IE only functions to multi-browser using jQuery</li>
                        <li>Responsible for document management and document generation applications.</li>
                        <i>Java, Servlets, JDBC, LDAP API</i>
                        <li>Responsible for a backup application for registering losses when main application unavailable <i>(Perl, JavaScript)</i>.
                        <li>Wrote several bespoke shell scripts to aid development tasks</li>
                        <li><i>Technologies used: Java, J2EE, Spring Framework, JPA, Hibernate, Spring Framework, JSPs, JSTL, WebSphere, RAD (6&amp;7), Oracle, PL/SQL, Rational Rose.</i></li>
                    </ul>
                </td>
              </tr>

              <tr>
                <td colspan="1"><b>May 2004 - November 2006</b></td>
                <td colspan="2"><a href="http://www.novell.com/ctp">Cambridge Technology Partners</a></td>
                <td colspan="3"><b>Position : Senior Consultant</b></td>
              </tr>

              <tr>
                  <td colspan="6">
                      <i>* Testing Environments Management for a Swiss Telecoms Company</i>
                      <ul>
                          <li>Planning, Management, Deployment of a large variety of applications on numerous platforms.</li>
                          <li>Streamlining and improvement of existing deployment procedures.</li>
                          <li><i>Technologies used: Vitria BusinessWare (versions 3 and 4), Bea Tuxedo, BEA WebLogic(6 &amp; 7), Twister, Sun Solaris, HP-UX, Ant</i></li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td colspan="6">
                      <i>* Development of a Perl log file parser module for a Swiss Telecoms Company</i>
                      <ul>
                          <li>Developed a perl module to extract various data from log files for Government compliance project.</li>
                    </ul>
                  </td>
              </tr>
              <tr>
                  <td colspan="6">
                      <i>* Migration of Legal Interception Application to new Architecture:</i>
                      <ul>
                          <li>Technical design, development and migration of a multi-tier application allowing on-demand interception of emails</li>
                          <li>Implementation of a module in C for GPG decryption and base 64 decoding of emails.</li>
                          <li>Implementation of SOAP web service clients in Java and Perl.</li>
                          <li><i>Technologies used: C, Perl, Java, J2EE, JSP, SOAP, Eclipse, WebSphere Application Studio Developer, SunOne Application Server, Tomcat, Oracle.</i></li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td colspan="6">
                      <i>* Technical Design and Development of Single Sign-On functionality for a Swiss Telecoms Company</i>
                      <ul>
                          <li>Technical design, development and testing of a SOAP web service to enable single sign-on to multiple portal sites.</li>
                          <li>Design, development and deployment of an emulator servlet to test SOAP web service locally.</li>
                          <li><i>Technologies used: Java, JSP, Servlets, SOAP, Tomcat, Weblogic, Apache, Eclipse.</i></li>
                  </td>
              </tr>
              <tr>
                  <td colspan="6">
                      <i>* Ongoing Support of Legal Interception Application for a Swiss Telecom Company</i>
                      <ul>
                          <li>Testing and production-level support of a multi-tier application allowing on-demand interception of emails.</li>
                          <li><i>Technologies used: C, Perl, Java, J2EE, JSP, Eclipse, SunOne Application Server, Tomcat, Oracle.</i></li>
                      </ul>
                  </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>Jan. 2003 - May 2004</b></td>
                <td colspan="2"><a href="http://www.gfi.ch">GFI International</a></td>
                <td colspan="3"><b>Position : Contract Java Team Lead</b></td>
              </tr>

              <tr>
                  <td colspan="6">
                      <ul>
                          <li>Technical Team Lead for Customer Service module of large Pension Fund project, delivered on time to tight deadlines.</li>
                          <li>Senior Developer on various other modules of this project.</li>
                          <li>Analysis, design and refactoring of core modules.</li>
                          <li><i>Technologies used: WebSphere Application Server 5.1, WebSphere Studio Application Developer, J2EE, Struts, XML, XSLT, XSL/FO and Ant on an AS/400, DB/2 backend.</i></li>
                      </ul>
                  </td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>Jan. 2002-Jan. 2003</b></td>
                <td colspan="2">Altamedius Ltd.</td>
                <td colspan="3"><b>Position : Senior Software Engineer</b></td>
              </tr>

              <tr>
                  <td colspan="6">
                      <ul>
                          <li>Java, J2EE and Struts development on various payment intermediation projects</li>
                          <li>Implemented all projects successfully to tight deadlines.</li>
                          <li><i>Technologies used: Java, J2EE, XML, XSLT, Struts, Weblogic 6.1, Oracle 8i</i></li>
                      </ul>
                  </td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>Nov. 2000 - Nov. 2001</b></td>

                <td colspan="2"><a href=
                "http://www.bearingpoint.com">KPMG Consulting Ltd.</a></td>
                <td colspan="3"><b>Position : Contract Software Engineer</b></td>
              </tr>

              <tr>
                  <td colspan="6">
                      <ul>
                          <li>Java, J2EE, development on Weblogic Server of a customer care portal for a leading Irish telecoms company.</li>
                          <li>Java server-sided development of online trading product for Ireland's leading stockbroking company.</li>
                          <li><i>Technologies used: Java, J2EE, Corba, LDAP, JDBC, WebLogic 6.0, iPlanet, Oracle 8i.</i></li>
                      </ul>
                  </td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>Nov. 1999 - Nov. 2000</b></td>
                <td colspan="2"><b>Factor-e Ltd.</b></td>
                <td colspan="3"><b>Position : Software Engineer</b></td>
              </tr>
              <tr>
                  <td colspan="6">
                      <i>* Developer on various Java projects for an online bank (first-e):</i>
                      <ul>
                          <li>Component-based J2EE-focused design of new architecture using Catalysis UML methods.</li>
                          <li>Designed new development process using UML.</li>
                          <li>Java development to extremely tight deadlines for successful German launch of the bank.</li>
                          <li><i>Technologies used: Java, J2EE, JBuilder, Rational Rose, Rational SoDA, UML.</i></li>
                  </td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>Mar. 1999 - Oct. 1999</b></td>
                <td colspan="2"><a href="http://www.openet-telecom.com">Openet Telecom Ltd.</a></td>
                <td colspan="3"><b>Position : Software Engineer</b></td>
              </tr>
              <tr>
                <td colspan="6"><i>* Project: NETFusion</i></td>
              </tr>
              <tr>
                  <td colspan="6">
                      <ul>
                          <li>Design and build of Web-based front-end for core mediation product, using Java Swing components.</li>
                          <li>Received much positive feedback at trade shows and from investors.</li> 
                          <li>Porting of mediation system to Solaris. Design and build of collection component for mediation system, using C.</li>
                      </ul>
                  </td> 
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="1"><b>June 1998 - March 1999</b></td>
                <td colspan="2"><a href="http://www.lucent.ie">Lucent Technologies Ltd.</a></td>
                <td colspan="3" align="left"><b>Position : Software Engineer</b></td>
              </tr>
              <tr>
                <td colspan="6"><i>* Project : Telecel Network Configuration Tool</i></td>
              </tr>
              <tr>
                  <td colspan="6">
                    <ul>
                        <li>Systems Verification team lead for small project using RAD technique, Dynamic Systems Development Method(DSDM).</li>
                        <li>Attended DSDM workshop with client.</li>
                        <li>Designed tool to automatically generate bug reports using Perl, Unix shell scripting.</li>
                    </ul>
                </td>
              </tr>

              <tr>
                <td colspan="6"><i>* Project : OMC Release 4.5</i></td>
              </tr>

              <tr>
                  <td colspan="6">
                      <ul>
                          <li>Systems Verification of the OMC-2000, GSM Base Station Controller.</li>
                          <li>Testing all aspects of the product (especially GUI), regression testing, scripting(TCL/TK).</li>
                          <li>Webmaster for systems verification team.</li>
                          <li>Mentor for new employees.</li>
                      </ul>
                  </td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="6" style="font-size:13pt">
                <b><u>Education</u></b></td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>1997-1998</b></td>
                <td colspan="2"><b>Higher Diploma in Computer Science</b></td>
                <td colspan="3"><b>University College Dublin, Ireland</b></td>
              </tr>
              <tr>
                <td colspan="6">First Class Honours</td>
              </tr>

              <tr>
                <td colspan="6"><i>Subjects:</i> Programming and Data
                Structures (C++); Program Design and Verification;
                Systems Design and Development; Networks; Operating
                Systems (Unix); Information Technology and Applications
                (Filemaker Pro, Word, Excel, Access); Interactive
                Multimedia Systems; Object-oriented Programming;
                Information Systems; Computer Architecture; Artificial
                Intelligence.</td>
              </tr>

              <tr>
                <td colspan="6"><i>Projects:</i> Web design; Lotto
                Simulator (C++); Internet Security essay; Design of a
                Client/Server model using C in a Unix environment;
                Database Design (MS Access); Shell Programming; Process
                Scheduling model; File System Model (all Unix) Major
                Project: Car Navigation simulator (C++, OOP).</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>1989-1993</b></td>
                <td colspan="2"><b>Batchelor of International Commerce and French</b></td>
                <td colspan="3"><b>University College Dublin, Ireland</b></td>
              </tr>
              <tr>
                <td colspan="6">Bachelor's Degree - Second Class Honours</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><b>1983-1989</b></td>

                <td colspan="2"><b>Clongowes Wood College</b></td>

                <td colspan="3"><b>Leaving Certificate, 1989</b></td>
              </tr>

              <tr>
                <td colspan="6">English (A), French (A), Irish (B),
                Maths (B), History (B), Economics (B), Business
                Organisation (B).</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="6" style="font-size:13pt"><b><u>Additional Information</u></b></td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><i>Languages:</i></td>
                <td colspan="5">Fluent French</td>
              </tr>

              <tr>
                <td colspan="1"><i>Courses:</i></td>
                <td colspan="5">Catalysis Object Oriented Development Method</td>
              </tr>

              <tr>
                <td colspan="1">&nbsp;</td>
                <td colspan="5">A Component-based development method using UML (1 week full-time, 2001)</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="6" style="font-size:13pt"><b><u>Personal Information</u></b></td>
              </tr>

              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td colspan="1"><i>Address:</i></td>
                <td colspan="5">604 Rue Guy de Maupassant, Divonne les Bains, 01220 France.</td>
              </tr>

              <tr>
                <td colspan="1"><i>Gender:</i></td>
                <td colspan="2">Male</td>
                <td colspan="1"><i>Status:</i></td>
                <td colspan="2">Married</td>
              </tr>

              <tr>
                <td colspan="1"><i>Date Of Birth:</i></td>
                <td colspan="2">21 January 1971</td>
                <td colspan="1"><i>Nationality:</i></td>
                <td colspan="2">Irish</td>
              </tr>

              <tr>
                <td colspan="1"><i>Email:</i></td>
                <td colspan="2">gavcos <a href="mailto:gavcos@@gmail.com?subject=CV"><img src="@routes.Assets.versioned("images/gmail.jpg")" border="0" style="vertical-align: bottom"></a></td>
                <td colspan="1"><i>Tel:</i></td>
                <td colspan="2">+33628707133</td>
              </tr>
          </td>
        </tr>
    </table>
}

@main("Gavin Costello - Curriculum Vitae") {
    @header
    @content
}
