@header = {
    <div id="header">
        <h2>Gavin Costello - Links</h2>
    </div>
}

@content = {
    <ul>
      <li><a href="http://www.google.com/">Google</a></li>

      <li><a href="http://www.yahoo.com/">Yahoo</a></li>

      <li><a href="http://theserverside.com">The Server
      Side</a></li>

      <li><a href=
      "http://servlet.java.sun.com/logRedirect/frontpage-head-logo/http://java.sun.com/">
      Java Technology Home Page</a></li>

      <li><a href="http://www.planet-rugby.com/">Planet
      Rugby</a></li>

      <li><a href="http://www.enn.ie/index.html">ENN - Electric
      News.net</a></li>

      <li><a href="http://www.vim.org/">Vim</a></li>

      <li><a href="http://www.mutt.org/">Mutt</a></li>

      <li><a href="http://www.theregister.co.uk/">The
      Register</a></li>

      <li><a href=
      "http://www.techcentral.ie/">TechCentral</a></li>

      <li><a href="http://www.theonion.com/">The Onion</a></li>

      <li><a href=
      "http://www.satirewire.com/index.shtml">SatireWeb</a></li>

      <li><a href=
      "http://cygwin.com/ml/cygwin/">cygwin</a></li>

      <li><a href="http://www.ucc.ie/cgi-bin/acronym">Acronym
      Search</a></li>

      <li><a href=
      "http://www.tuxedo.org/~esr/jargon/jargon.html#Introduction">
      The New Hacker's Dictionary</a></li>

      <li><a href=
      "http://www.utahlindyexchange.com/unix_cd/sedawk/index.htm">
      sed &amp; awk</a></li>
    </ul>
}

@main("Gavin Costello - Links") {
    @header
    @content
}
